[submodule "evmc"]
	path = evmc
	url = https://github.com/somnathb1/zevmc.git
        branch = gas_cost_in_tracers
[submodule "evm-benchmarks"]
	path = test/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
